# Ignore all log files everywhere
*.log
*.log.*
__pycache__/

# Ignore all Python bytecode files
*.pyc
*.pyo
*.pyd
*.pyd.*

# Ignore all virtual environment directories
venv/

#ignore all the logs files 
logs/
*.log


# Ignore all IDE specific files
.vscode/
.idea

# Ignore configuration files
config.ini

# all the downloads directories
downloads/
downloads/*


/myenv/
