# Ignore all log files everywhere
*.log
*.log.*
__pycache__/

# Ignore all Python bytecode files
*.pyc
*.pyo
*.pyd
*.pyd.*

# Ignore all virtual environment directories
venv/

#ignore all the logs files 
logs/
*.log


# Ignore all IDE specific files
.vscode/
.idea

# Ignore configuration files
# config.ini

# all the downloads directories
downloads/
downloads/*


/myenv/

# we have to ignore the output dir also with json "investorgain_ipo_data.json" , and "zerodha_investorgain_matched_ipos.json" files
/output/investorgain_ipo_data.json
/output/investorgain_ipo_data_v1.json
/output/zerodha_investorgain_matched_ipos.json
/test/output/zerodha_investorgain_matched_ipos.json
/test/output/investorgain_ipo_data.json
/test/output/investorgain_ipo_data_v1.json